
/* Full-width inputs */
Input[type=text], input[type=password] {
    width: 25%;
    padding: 12px 20px;
    margin: 8px;
}
  

  

button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    margin: 8px;
    border: none;
    cursor: pointer;
    width: 10%;
    float: left;
    margin-left:485px;
  }

.button1 {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    margin: 8px;
    border: none;
    cursor: pointer;
    width: 10%;
    float: right;
    margin-right:485px;
}
  